[main]
offset = 120
period = 60

[[pinboard]]
api_token = ''

[[to_twitter]]
name = ''
consumer_key = ''
consumer_secret = ''
access_token_key = ''
access_token_secret = ''

[[to_telegram_bot]]
name = ''
api_token = ''
chat_ids = []